<div>
	<table class="responsivetable">
		<thead >
			<tr>
				<th>Código de barras</th>
				<th>Alias</th>
				<th>Rancho</th>
				<th>Activo</th>
			</tr>
		</thead>
		<tbody>
			{{fillDevices devices}}
		</tbody>
	</table>
</div>