<div class="jumbotron mt-4">
			<h1 class="display-4"> Dispositivos</h1>
			<hr class="my-4">
			<form>
			  <div class="form-row">
			    <div class="col">
			    	<label >ID</label>
			      	<input type="text" class="form-control" placeholder="ID" disabled="true" >
			    </div>
			    <div class="col">
			    	<label >Nombre</label>
			      	<input type="text" class="form-control" placeholder="" disabled="true">
			    </div>
			    <div class="col">
			    	<label >Zona</label>
			      	<input type="text" class="form-control" placeholder="" disabled="true">
			    </div>
			    <div class="col">
			    	<label >Tipo</label>
			      	<input type="text" class="form-control" placeholder="" disabled="true">
			    </div>
			    <div class="col">
			    	<label >Estado</label>
			      	<input type="text" class="form-control" placeholder="" disabled="true">
			    </div>
			  </div>
			</form>
		</div>