<div class="container container-full">
	<table class="responsivetable">
		<thead style="color:antiquewhite">
			<tr>
				<th>Código de barras</th>
				<th>Alias</th>
				<th>Rancho</th>
				<th>Activo</th>
			</tr>
		</thead>
		<tbody>
			{{fillDevices devices zonas}}
		</tbody>
	</table>
</div>

<!-- Update Modal-->
	<div class="modal fade idx-10000" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-update" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="updateModalLabel">Actualizar datos</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<h6 class="modal-title text-gray-500" id="bodyLabel">Introduzca los nuevos datos o presione 'Cancelar' para salir</h6>
					<div class="md-form mb-5">
						<label data-error="wrong" data-success="right" for="nombreUpdate">Nombre</label>
						<input type="text" class="form-control validate" id="nombreUpdate">
						
					</div>
					<label data-error="wrong" data-success="right" for="nombreUpdate">Rancho</label>
					<div class="row no-gutters align-items-center">
						<div class="col mr-2" id="nombreUpdate">
							<div class="h5 mb-0 font-weight-bold text-gray-800">
  								<div class="dropdown">
    								<span class="selLabel">Rancho</span>
    								<input type="hidden" name="cd-dropdown">
    								<ul class="dropdown-list" id="zonasList">
      									{{getZonas zonas}}
    								</ul>
  								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="#">Actualizar</a>
				</div>
			</div>
		</div>
	</div>
<!-- Update Modal-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type='text/javascript' src='/js/showDetails.js'></script>
<script>
	$(document).ready(function(){
		var nombre = "";
		var id_zona = "";
		$("div.container-full > table > tbody > tr").click(function(){
			id_zona = $(this).attr('id');
			nombre = $(this).find('#nombre').text();
			$('#nombreUpdate').attr('placeholder', nombre);
			$(".dropdown-list li").click(function() {
				id_zona = $(this).attr('data-value');
    			$('.selLabel').text($(this).text());
    			$('.dropdown').removeClass('active');
    			$('.selected-item p span').text($('.selLabel').text());
  			});
			$('#updateModal').modal('show');
		});
	});
</script>

<script>
	$(document).ready(function() {
  		$(".selLabel").click(function () {
    		$('.dropdown').toggleClass('active');
  		});
	});
</script>