<!-- DataTables CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css"/>

<!-- ganado page -->
<div class="card shadow mb-4">
    <!-- Card header -->
    <div class="card-header py-3">
        <div class="col-md-6">
            <h6 class="m-0 text-primary">Inventario de vacas/dispositivos</h6>
        </div>
    </div>
    <!-- Card body (dataTable) -->
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dataTable" class="table table-bordered dataTable text-align-center" role="grid" aria-describedby="dataTable_info" >
                            {{> tabla_ganadoHnF}}
                            <tbody>
                                {{fillGanado ganado}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal actualizar -->
{{> vaca_info}}

<!-- DataTables Scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.js"></script>
<!-- Custom Scripts -->
<script type="text/javascript" src="/js/vacasCRUD.js"></script>
<script>
    $(document).ready(function(){
        var nombre = "";
        var zone_id = "";

        //Inicializa el dataTable
        var table = $('#dataTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    text: 'Imprimir PDF',
                    exportOptions:{ 
                        modifier: {
                            page: 'current'
                        }
                    }
                }
            ],
            "language": {
                lengthMenu: "Mostrar _MENU_ registros por p치gina",
                zeroRecords: "No hay registros para mostrar",
                info: "Mostrando p치gina _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros disponibles",
                infoFiltered: "(filtrados de un total de _MAX_ registros)",
               search: "Buscar"
            },
            "oLanguage":{
                "oPaginate":{
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
               }
            }
        });

        // Evento de click en la fila de la tabla. Muestra el modal de actualizaci칩n de vaca
        $('#dataTable > tbody > tr').click(function(){
            var id = $(this).children('#identifier').val();
            $('#modal-title').text('Informaci칩n de ' + $(this).children('#alias').text());
            $('#modal-alias').val($(this).children('#alias').text());            
            if($(this).children('#sex').text() == 'F'){
                $('#modal-genre').val('f');
            } else {
                $('#modal-genre').val('m');
            }

            $('#selectBreed').val($(this).children('#breed').text());
            $('#modal-age').val($(this).children('#age').text());
            $('#modal-weight').val($(this).children('#weight').text());
            $('#modal-type').val($(this).children('#type').text());
            $('#modal-iron').val($(this).children('#iron').val());
            $('#modal-calf').val($(this).children('#calf').text());
            $('#modal-vaccs').val($(this).children('#vaccs').val());
            $('#modal-details').val($(this).children('#details').val());
           
            $('#submitBtn').click(function(e){
                e.preventDefault();
                updateVaca(id, $('#modal-alias').val(), $('#modal-genre').val(), $('#modal-weight').val(), $('#modal-age').val(), $('#selectBreed').val(), $('#modal-type').val(), $('#modal-vaccs').val(), $('#modal-calf').val(), $('#modal-iron').val(), $('#modal-details').val());
            });
        });        
    });
</script>