<!-- DataTables CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css"/>

<!-- ganado page -->
<div class="card shadow mb-4">
    <!-- Card header -->
    <div class="card-header py-3">
        <div class="col-md-6">
            <h6 class="m-0 text-primary">Inventario de vacas/dispositivos</h6>
        </div>
    </div>
    <!-- Card body (dataTable) -->
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dataTable" class="table table-bordered dataTable text-align-center" role="grid" aria-describedby="dataTable_info" >
                            {{> tabla_ganadoHnF}}
                            <tbody>
                                {{fillGanado ganado}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal actualizar -->
{{> vaca_info}}
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- DataTables Scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        var nombre = "";
        var zone_id = "";

        //Inicializa el dataTable
        var table = $('#dataTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    text: 'Imprimir PDF',
                    exportOptions:{ 
                        modifier: {
                            page: 'current'
                        }
                    }
                }
            ],
            "language": {
                lengthMenu: "Mostrar _MENU_ registros por página",
                zeroRecords: "No hay registros para mostrar",
                info: "Mostrando página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros disponibles",
                infoFiltered: "(filtrados de un total de _MAX_ registros)",
               search: "Buscar"
            },
            "oLanguage":{
                "oPaginate":{
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
               }
            }
        });

        // Evento de click en la fila de la tabla. Muestra el modal de actualización de vaca
        $('#dataTable > tbody > tr').click(function(){
            console.log($(this).attr('value'));
            $('#updateModal').modal('show');
        });

    });
</script>