<div class="jumbotron mt-4">
	<h1 class="display-4"> Sigfox device localization</h1>
	<p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, nisi.</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At quidem officiis dignissimos minus amet explicabo accusamus dolorum. Sequi, neque non!</p>
	<form action="/map" method="POST">
		<div class="form-group">
			<button class="btn btn-primary btn-block" type="submit"> Go to map </button>
		</div>
	</form>	
</div>