<div class="containerBtn">
	<a href="/tracking" class="btn btn-lg " style="height: 205px; width: 305px; background-image: url(../img/btnMonitor.png);"></a>
</div>
<div class="containerBtn">	
	<a href="/update" class="btn btn-lg " style="height: 205px; width: 305px; background-image: url(../img/btnReg.png);"></a>
	<a href="/devices" class="btn btn-lg " style="height: 205px; width: 305px; background-image: url(../img/btnDispo.png);"></a>
</div>