<!-- Login CSS -->
<link rel="stylesheet" href="/css/login.css">
{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="/users/signin" method="POST">
                        <h3 class="text-center text-dark">Iniciar sesión</h3>
                        <div class="form-group">
                            <label for="email" class="text-muted">Email:</label><br>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-muted">Contraseña:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-muted"><span>Recordarme</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <input type="submit" name="submit" class="btn btn-dark btn-md" value="Entrar">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="/users/signup" class="text-muted">Registrarse</a>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>