<!-- Statistics Page -->

<div id="wrapper">
    <div id="content">
        <div class="container-fluid">
            <!-- Content row -->
            <div class="row">
                <!-- Total de vacas -->
                <div class="col-xl-3 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total de vacas
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        100
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-dragon fa-2x text-gray-300">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Total de vacas -->
                
                <!-- Total de sementales -->
                <div class="col-xl-3 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total de sementales
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        5
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-tint fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Total de sementales -->

                <!-- Vacas en cinta -->
                <div class="col-xl-3 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Vacas en cinta
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        34
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dove fa-2x text-gray-300">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Vacas en cinta -->

                <!-- Total becerros -->
                <div class="col-xl-3 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total de becerros
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        40
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-bong fa-2x text-gray-300">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Total becerros -->
            </div>
            <!-- Content Row -->

            <!-- Content Row -->
            <div class="row">
                <!-- Content column --> 
                <div class="col-lg-6 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Estado de vacas en cinta</h6>
                        </div>
                        <div class="card-body">
                            <h4 class="small font-weight-bold text-primary">Sisífa<span class="float-right">Prob. de parto: 20%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold text-primary">Muriel<span class="float-right">Prob. de parto: 40%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold text-primary">Masha<span class="float-right">Prob. de parto: 60%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold text-primary">Rodolfina<span class="float-right">Prob. de parto: 80%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content column -->
                
                <!-- Content column -->
                <div class="col-lg-6 mb-4">
                    <h5 style="color: goldenrod;">Dispositivos con batería baja</h5>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-danger text-white shadow mt-2">
                                <div class="card-body">
                                    Sra. Calloway<span class="float-right">10%</span>
                                    <div class="text-white-50 small">Etiqueta: 3208889784</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-warning text-white shadow mt-2">
                                <div class="card-body">
                                    Oliv<span class="float-right">30%</span>
                                    <div class="text-white-50 small">Etiqueta: 3208889789</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-danger text-white shadow mt-2">
                                <div class="card-body">
                                    Lola<span class="float-right">20%</span>
                                    <div class="text-white-50 small">Etiqueta: 3208889786</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
                <!-- Content column -->
            </div>
            <!-- Content Row -->

            

            <!-- Content Row -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-8">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Vista general del ganado</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Pie Chart -->
                <div class="col-xl-4">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Ganado por raza</h6>
                        </div>
                        
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> Limousin
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-success"></i> Holstein
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-info"></i> Gyr
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Row -->
        </div>
    </div>
</div>

<!-- Statistics Page -->

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Page level plugins -->
<script src="/js/Chart.min.js"></script>
<!-- Page level custom scripts -->
<script src="/js/chart-area-demo.js"></script>
<script src="/js/chart-pie-demo.js"></script>