<br>
		<div id="map">
		    <input type="hidden" id="lat" value="{{lat}}">
		    <input type="hidden" id="lng" value="{{lng}}">
		</div>
		<div class="jumbotron_map mt-4-map">
			<h1 class="display-4-map"> Dispositivos</h1>
			<hr class="my-4-map">
			<form>
				<p class="p-map"><B>Zona A</B></p>
				  <div class="form-row">
				  	<div class="col">
				    	<label >ID</label>
				      	<input type="text" class="form-control" placeholder="ID" disabled="true" >
				    </div>
				    <div class="col">
				    	<label >Nombre</label>
				      	<input type="text" class="form-control" placeholder="" disabled="true">
				    </div>
				    <div class="col">
				    	<label >Tipo</label>
				      	<input type="text" class="form-control" placeholder="" disabled="true">
				    </div>
				    <div class="col">
				    	<label >Estado</label>
				      	<input type="text" class="form-control" placeholder="" disabled="true">
				    </div>
				  </div>
			</form>
			<form>
				<p class="p-map"><B>Zona B</B></p>
				  <div class="form-row">
				  	<div class="col">
				    	<label >ID</label>
				      	<input type="text" class="form-control" placeholder="ID" disabled="true" >
				    </div>
				    <div class="col">
				    	<label >Nombre</label>
				      	<input type="text" class="form-control" placeholder="" disabled="true">
				    </div>
				    <div class="col">
				    	<label >Tipo</label>
				      	<input type="text" class="form-control" placeholder="" disabled="true">
				    </div>
				    <div class="col">
				    	<label >Estado</label>
				      	<input type="text" class="form-control" placeholder="" disabled="true">
				    </div>
				  </div>
			</form>
		</div>