<div class="container">
  <div class="row text-center">
    <div class="col-sm-3">
      <div>
        <label for="zonaSelect"><span class="control-label badge badge-light">Monitorear Rancho</span></label>
      </div>
      <div>
        <select id="zonaSelect" class="custom-select" onchange="getID(this.value);">
          <option value="placeholder" selected>Seleccione un rancho</option>
          {{getZonas zonas}}   
        </select>
      </div>
      <div>
        <table class="table table-bordered" id="tabDevices">
          <thead>
            <tr>
              <th scope="col-sm-6">Identificador</th>
              <th scope="col-sm-3">Alias</th>
              <th scope="col-sm-3">Batería</th>
            </tr>
          </thead>
          <tbody id="tabDev">
            
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-9">
      <div id="map">
	      <input type="hidden" id="lat" value="{{lat}}">
	      <input type="hidden" id="lng" value="{{lng}}">
      </div>
    </div>
  </div>
</div> 

<script type='text/javascript' src='/js/map.js'></script>
<script type='text/javascript' src='/js/getID.js'></script>
<script type='text/javascript'>
  window.setInterval(function(){
    getID(document.getElementById('zonaSelect').value);
}, 60000);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Jx2pqC6kJCEmSP_1yoVdGmvr6HZUJSI&callback=initMap" async defer></script>
