<div class="jumbotron mt-4">
	<h1 class="display-4"> Registro</h1>
	<p class="lead"> Registro de dispositivos en funcionamiento</p>
	<hr class="my-4">
	<form>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label >ID</label>
				<select id="inputState" class="form-control">
					<option selected>Choose...</option>
					<option>...</option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<label for="inputPassword4">Zona</label>
				<input type="password" class="form-control" id="inputPassword4" placeholder="Zona">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAddress">Nombre</label>
			<input type="text" class="form-control" id="inputAddress" placeholder="Nombre">
		</div>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
</div>
