*, ::after, ::before {
	box-sizing: border-box;
}

header{
    padding-bottom: 0.75rem;
}

body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(216,241,230,0.46) 0.1%, rgba(233,226,226,0.28) 90.1% );
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

nav{
    background: hsl(0, 79%, 60%);
    padding-bottom: 0.75rem;
}

#map {
    height: 600px;
}

.header-top{
    background-image: url('../img/logo_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;

    /* Flexbox */
    display: flex;
    align-items: center;
}

footer{
    background: hsl(0, 79%, 60%);
    color: antiquewhite;
    width: 100%;
    min-height: 10px;
    height: 60px;
    position: fixed;
    bottom: 0;
}

#btn-alert{
    border-radius: 50%;
}

.customLink, 
.customLink:hover{
    color: #83a4d4;
    font-style: oblique;
    text-decoration: none;
}

.center-button{
    width: 170px;
    height: 70px;
}

.img-brand{
    background-position: center;
    background-size: cover;
    height: 50px;
}


* {
    box-sizing: border-box;
}

.container,
.container-full{
    display: block;
    margin: 0;
    max-width: inherit;
}

.border-left-primary{
    border-left: .25rem solid #cc364a !important;
}


.responsivetable {
    flex: 0 0 auto;
    text-align: center;
    overflow: scroll;
    width: 100%;
    margin: 0;
    padding: 0 0 8em 0;
}

.responsivetable th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: antiquewhite;
}

.responsivetable th {
    background: hsl(0, 79%, 60%);
}

.responsivetable td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.responsivetable td, .responsivetable th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

.responsivetable tr:nth-child(odd) {
    background-color: #f8f9fc;
}

.responsivetable tr:nth-child(even) {
    background-color: aliceblue;
}

.responsivetable td:first-child {
    color: #FB667A;
}

.responsivetable tbody tr:hover {
    background-color: #464A52;
    color: #FFF842;
    -webkit-box-shadow: 0 6px 6px -6px #464A52;
    -moz-box-shadow: 0 6px 6px -6px #464A52;
    box-shadow: #7F7C21 -1px 1px, 
    #7F7C21 -2px 2px, 
    #7F7C21 -3px 3px, 
    #7F7C21 -4px 4px, 
    #7F7C21 -5px 5px, 
    #7F7C21 -6px 6px;
    
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media(max-width: 800px) {
    .responsivetable td:nth-child(3),
    .responsivetable th:nth-child(3) {
        display: none;
    }
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.badge-danger {
	color: #fff;
	background-color: #e74a3b;
}

.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .35rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
	height: 2rem;
	width: 2rem;
}

.shadow {
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.topbar .dropdown-menu .dropdown-header {
	background-color: #000000;
	border: 1px solid #000000;
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #fff !important;
}


.dropdown .dropdown-menu .dropdown-header, .text-uppercase {
	text-transform: uppercase !important;
}

a {
	color: #dfebb3;
	text-decoration: none;
	background-color: transparent;
}

.icon-circle {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*************************/
/****  PAG MI GANADO  ****/
/*************************/
.text-align-center {
    text-align: center !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

div.dataTables_wrapper div.dataTables_length select {
	width: auto;
	display: inline-block;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.table tr:nth-child(odd) {
    background-color: #f8f9fc;
}

.table tr:nth-child(even) {
    background-color: aliceblue;
}

.table tbody tr:hover {
    background-color: #90afec;
    color: cornsilk;
    -webkit-box-shadow: 0 6px 6px -6px #90afec;
    -moz-box-shadow: 0 6px 6px -6px #90afec;
    box-shadow: #858992 -1px 1px,
    #858992 -2px 2px,
    #858992 -3px 3px,
    #858992 -4px 4px,
    #858992 -5px 5px,
    #858992 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: line;
    cursor: pointer;
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, .15);
}


/*************************/
/****  PAG MI GANADO  ****/
/*************************/

/*************************/
/****  PAG MONITOREO  ****/
/*************************/

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#wrapper {
    display: flex;
}

.idx-9000 {
    z-index: 9000;
    position: relative;
}

.dropdown {
    flex: 0 0 auto;
	width: auto;
	max-width: 100%;
    margin: 0px;
    position: relative;
    perspective: 800px;
}
.dropdown.active .selLabel:after {
    content: '\25B2';
}
.dropdown.active .dropdown-list li:nth-child(1) {
    transform: translateY(100%);
}
.dropdown.active .dropdown-list li:nth-child(2) {
    transform: translateY(200%);
}
.dropdown.active .dropdown-list li:nth-child(3) {
    transform: translateY(300%);
}
.dropdown.active .dropdown-list li:nth-child(4) {
    transform: translateY(400%);
}
.dropdown > span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: hsl(0, 5%, 22%);
    color: antiquewhite;
    font-size: 18px;
    letter-spacing: 2px;
    display: flex;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 10000;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-touch-callout: none;
    user-select: none;
}
.dropdown > span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 24px;
    border-left: 1px solid #ddd;
}
.dropdown > span:active {
    transform: rotateX(45deg);
}
.dropdown > span:active:after {
    content: '\25B2';
}
.dropdown-list {
    position: absolute;
    top: 0px;
    width: 100%;
}
.dropdown-list li {
    display: flex;
    list-style: none;
    left: 0;
    opacity: 1;
    transition: transform 300ms ease;
    position: absolute;
    top: 0;
    width: 100%;
}
.dropdown-list li:nth-child(1) {
    background: hsl(0, 79%, 60%);
    background: -webkit-linear-gradient(to right, #93291E, hsl(0, 79%, 60%));
    background: linear-gradient(to right, #93291E, hsl(0, 79%, 60%));
    transform: translateY(0);
}
.dropdown-list li:nth-child(2) {
    background: hsl(0, 79%, 60%);
    background: -webkit-linear-gradient(to right, #93291E, hsl(0, 79%, 60%));
    background: linear-gradient(to right, #93291E, hsl(0, 79%, 60%));
    transform: translateY(3%);
}
.dropdown-list li:nth-child(3) {
    background: hsl(0, 79%, 60%);
    background: -webkit-linear-gradient(to right, #93291E, hsl(0, 79%, 60%));
    background: linear-gradient(to right, #93291E, hsl(0, 79%, 60%));    
    transform: translateY(6%);
}
.dropdown-list li:nth-child(4) {
    background: hsl(0, 79%, 60%);
    background: -webkit-linear-gradient(to right, #93291E, hsl(0, 79%, 60%));
    background: linear-gradient(to right, #93291E, hsl(0, 79%, 60%));
    transform: translateY(9%);
}

.dropdown-list li span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-touch-callout: none;
    user-select: none;
    width: 100%;
    font-size: 18px;
    line-height: 60px;
    padding: 0 30px;
    display: flex;
    color: antiquewhite;
    cursor: pointer;
    letter-spacing: 2px;
}


.battery {
    width: 30px;
    height: 15px;
    transform: rotate(-180deg);
}
/*************************/
/****  PAG MONITOREO  ****/
/*************************/


/*************************/
/******  MODAL INF  ******/
/*************************/

.modal-body {
    position:relative; /* This avoids whatever it's absolute inside of it to go off the container */
    background-color: #f8f9fc;
}

.modal-header {
    background: hsl(0, 79%, 60%);
}

.modal-footer {
    background: hsl(0, 79%, 60%);
}

.img-responsive {
    width: 180px; /* This value will depend on what size you want for your loading image*/
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.left-column {
    float: right;
    width: 30%;
    display: block;
}

.right-column {
    float: right;
    width: 40%;    
    display: block;
}

.left-column-txt {
    float: right;
    width: 20%;
    display: block;
}

.right-column-txt {
    float: right;
    width: 20%;    
    display: block;
}

#selectBreed {
    width: 130%;
}

/*************************/
/******  MODAL INF  ******/
/*************************/

/*************************/
/******  Stats Page  *****/
/*************************/

#content {
    flex: 1 0 auto;
}

.container, .container-fluid {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}


.fa-2x {
    font-size: 2em;
}

.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem -1px) 0 0;
}

.chart-area {
    height: 20rem;
}

.chart-area {
    position: relative;
    width: 100%;
}
.chart-pie {
	height: calc(20rem - 43px) !important;
}

.chart-pie {
	position: relative;
	height: 15rem;
	width: 100%;
}

.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
	position: absolute;
	direction: ltr;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	pointer-events: none;
	visibility: hidden;
	z-index: 100;
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;    
}

/*************************/
/******  Stats Page  *****/
/*************************/