<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- FontAwesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <title>GanTrack</title>
  </head>

<!--Main Navigation-->
<header>
	<!-- Barra de navegacion -->
	<nav class="navbar navbar-expand-lg navbar-dark topbar">
		{{#if user}}
		<a class="navbar-brand" href="/monitoreo">
			<img src="/img/logo_banner.png" class="img-brand">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/monitoreo">Monitoreo</a>
      			</li>
				<li class="nav-item">
					<a class="nav-link" href="/ganado">Mi ganado</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/stats">Estadísticas</a>
				</li>
    		</ul>
  		</div>
		<div class="navbar-collapse collapse idx-9000">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown no-arrow mx-1">
        			<a id="alertsDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-bell fa-fw"></i>
						<span class="badge badge-danger badge-counter" id="alert"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
						<h6 class="dropdown-header">Centro de Alertas</h6>
						<a class="dropdown-item align-items-center" href="#">
							<div class="mr-3" id="alert-msg">
								<div class="small text-gray-500">No hay alertas por el momento</div>
							</div>
						</a>
					</div>
      			</li>
				<li class="nav-item dropdown no-arrow">
					<a id="userDrop" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="mr-2 d-lg-inline text-gray-500 small">Usuario</span>
						<img class="img-profile rounded-circle" src="https://bacngoctuan.com/template/default/images/user-icon.png">
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                		<a class="dropdown-item" href="#">
                  			<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  			Perfil
                		</a>
                		<a class="dropdown-item" href="#">
                  			<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  			Configuración
                		</a>
                		<div class="dropdown-divider"></div>
                		<a class="dropdown-item" href="/users/logout" data-toggle="modal" data-target="#logoutModal">
                  			<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  			Cerrar sesión
                		</a>
              		</div>
				</li>
			</ul>
		</div>
		{{else}}
		<div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        	<ul class="navbar-nav ml-auto text-center">
            	<li class="nav-item active">
                	<a class="nav-link" href="/monitoreo">Inicio</a>
            	</li>
        	</ul>
    	</div>
    	<div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <img src="/img/logo_banner.png" class="rounded-circle center-button">
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            	<span class="navbar-toggler-icon"></span>
        	</button>
    	</div>
    	<div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        	<ul class="navbar-nav mr-auto text-center">
            	<li class="nav-item">
                	<a class="nav-link" href="http://cidte.uaz.edu.mx/web/index.php/contacto/">Contacto</a>
            	</li>
        	</ul>
    	</div>
		{{/if}}
	</nav>
	<!-- Barra de navegacion -->
</header>
<!--Main Navigation-->

<!-- BODY -->
<body>	
	<main class="container">
		{{{body}}}
	</main>

	<!-- Logout Modal-->
  	<div class="modal fade idx-10000" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
      	<div class="modal-content">
	        <div class="modal-header">
          	<h5 class="modal-title" id="exampleModalLabel">¿Desea salir?</h5>
          	<button class="close" type="button" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">×</span>
          	</button>
        	</div>
        	<div class="modal-body">Seleccione "Cerrar sesión" abajo si desea salir ahora.</div>
        	<div class="modal-footer">
          	<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          	<a class="btn btn-primary" href="/users/logout">Cerrar Sesión</a>
        	</div>
      	</div>
    	</div>
  	</div>
	<!-- Logout Modal-->



	<!-- Footer -->
	<footer class="page-footer font-small blue">

  	<!-- Copyright -->
  	<div class="footer-copyright text-center py-3">© 2019 Copyright:
	    <a href="http://cidte.uaz.edu.mx/web/index.php/contacto/">CIDTE-</a>
		<a href="http://www.altest.com.mx">ALTEST</a>
  	</div>
  	<!-- Copyright -->

	</footer>
	<!-- Footer -->

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- DataTables Script -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="/js/client.js"></script>
</body>
<!-- BODY -->
</html>