<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/controller.css">

    <title>Sigfox Test</title>
  </head>

<body>
	<div id="principal_banner">
	  <img src="/img/logo.png">
	</div>
	<div id="menuhor">
	  <ul id="boton">
	    <li><a class="active" href="#">Inicio</a></li>
	    <li><a href="#">Dispositivos</a></li>
	    <li><a href="#">Contacto</a></li>
	    <li><a href="#">About</a></li>
	  </ul>
	</div>
	<main class="container">
		{{{body}}}
	</main>
	<p>Footer</p>
  <script type='text/javascript' src='js/map.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Jx2pqC6kJCEmSP_1yoVdGmvr6HZUJSI&callback=initMap" async defer></script>
</body>
</html>
