<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/controller.css">

    <title>GanTrack</title>
  </head>

<!--Main Navigation-->
<header>
	<!-- Banner con logo -->
	<div class="header-top">
	</div>
	<!-- Banner con logo -->
	
	<!-- Barra de navegacion -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">GanTrack</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
      			</li>
				<li class="nav-item">
					<a class="nav-link" href="/devices">Etiquetas</a>
				</li>
      			<li class="nav-item">
        			<a class="nav-link" href="#">Contacto</a>
      			</li>
    		</ul>
  		</div>
	</nav>
	<!-- Barra de navegacion -->
</header>
<!--Main Navigation-->

<!-- BODY -->
<body>	
	<main class="container">
		{{{body}}}
	</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</body>
<!-- BODY -->

<!-- Footer -->
<footer class="fixed-bottom navbar-dark bg-dark">
  	<!-- Copyright -->
  	<div class="footer-copyright text-center py-3">© 2019 Copyright:
    	<a class="customLink" href="http://cidte.uaz.edu.mx/web/index.php/contacto/"> CIDTE </a>
  	</div>
  	<!-- Copyright -->
</footer>
<!-- Footer -->


</html>